<div class="control-wrapper control--suggest digital-pipelines__edit-item-exec-time widget_local_time_div_for_input" data-time-format="24" style="z-index: 21;">
    <ul class="widget_local_time_ul js-control--suggest--list custom-scroll control--suggest--list">
        <li data-value-id="00:00" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="00:00">00:00</span></li>
        <li data-value-id="00:30" class="control--suggest--list--item"><span class="control--suggest--list--item-inner" title="00:30">00:30</span></li>
        <li data-value-id="01:00" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="01:00">01:00</span></li>
        <li data-value-id="01:30" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="01:30">01:30</span></li>
        <li data-value-id="02:00" class="control--suggest--list--item"><span class="control--suggest--list--item-inner" title="02:00">02:00</span></li>
        <li data-value-id="02:30" class="control--suggest--list--item   control--suggest--list--item-selected"><span class="control--suggest--list--item-inner" title="02:30">02:30</span></li>
        <li data-value-id="03:00" class="control--suggest--list--item"><span class="control--suggest--list--item-inner" title="03:00">03:00</span></li>
        <li data-value-id="03:30" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="03:30">03:30</span></li>
        <li data-value-id="04:00" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="04:00">04:00</span></li>
        <li data-value-id="04:30" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="04:30">04:30</span></li>
        <li data-value-id="05:00" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="05:00">05:00</span></li>
        <li data-value-id="05:30" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="05:30">05:30</span></li>
        <li data-value-id="06:00" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="06:00">06:00</span></li>
        <li data-value-id="06:30" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="06:30">06:30</span></li>
        <li data-value-id="07:00" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="07:00">07:00</span></li>
        <li data-value-id="07:30" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="07:30">07:30</span></li>
        <li data-value-id="08:00" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="08:00">08:00</span></li>
        <li data-value-id="08:30" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="08:30">08:30</span></li>
        <li data-value-id="09:00" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="09:00">09:00</span></li>
        <li data-value-id="09:30" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="09:30">09:30</span></li>
        <li data-value-id="10:00" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="10:00">10:00</span></li>
        <li data-value-id="10:30" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="10:30">10:30</span></li>
        <li data-value-id="11:00" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="11:00">11:00</span></li>
        <li data-value-id="11:30" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="11:30">11:30</span></li>
        <li data-value-id="12:00" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="12:00">12:00</span></li>
        <li data-value-id="12:30" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="12:30">12:30</span></li>
        <li data-value-id="13:00" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="13:00">13:00</span></li>
        <li data-value-id="13:30" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="13:30">13:30</span></li>
        <li data-value-id="14:00" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="14:00">14:00</span></li>
        <li data-value-id="14:30" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="14:30">14:30</span></li>
        <li data-value-id="15:00" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="15:00">15:00</span></li>
        <li data-value-id="15:30" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="15:30">15:30</span></li>
        <li data-value-id="16:00" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="16:00">16:00</span></li>
        <li data-value-id="16:30" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="16:30">16:30</span></li>
        <li data-value-id="17:00" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="17:00">17:00</span></li>
        <li data-value-id="17:30" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="17:30">17:30</span></li>
        <li data-value-id="18:00" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="18:00">18:00</span></li>
        <li data-value-id="18:30" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="18:30">18:30</span></li>
        <li data-value-id="19:00" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="19:00">19:00</span></li>
        <li data-value-id="19:30" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="19:30">19:30</span></li>
        <li data-value-id="20:00" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="20:00">20:00</span></li>
        <li data-value-id="20:30" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="20:30">20:30</span></li>
        <li data-value-id="21:00" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="21:00">21:00</span></li>
        <li data-value-id="21:30" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="21:30">21:30</span></li>
        <li data-value-id="22:00" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="22:00">22:00</span></li>
        <li data-value-id="22:30" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="22:30">22:30</span></li>
        <li data-value-id="23:00" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="23:00">23:00</span></li>
        <li data-value-id="23:30" class="control--suggest--list--item  "><span class="control--suggest--list--item-inner" title="23:30">23:30</span></li>
    </ul>
    <input autocomplete="off" readonly name="time" class="text-input control--suggest--input js-control--suggest--input control--suggest--input-inline js-tasks-date-time-input widget_local_time_input" id="{{ id }}" type="text" placeholder="" value="{{ inputValue }}" data-value-id="02:30" data-type="execution_condition" data-time-format="24"><b class="control--suggest--down-btn"></b>
</div>