<div class="modal-body__inner">
    <span class="modal-body__close">
        <span class="icon icon-modal-close"></span>
    </span>
    <h2 class="modal-body__caption head_2">Местное время</h2>
    <p class="modal-body__paragraph-text">
        В работе виджета произошла ошибка. Обратитесь в службу поддержки.
    </p>
</div>